{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "env": {
    "node": true,
    "es6": true,
    "browser": true
  },
  "rules": {
    "linebreak-style": 0,
    "no-param-reassign": [2, { "props": false }]
  },
  "plugins": [
    "react",
    "jsx-a11y",
    "import"
  ]
}
