# node
client/node_modules
server/node_modules

#other
build
client/build
server/public
client/package-lock.json
server/package-lock.json
*.log
*.gz
*.pyc
credentials/*
credentials/ascee-recruit-f7087935ad03.json
server/python/__pycache__/*
