# node
client/node_modules
server/node_modules

#other
build
client/build
server/public
server/lib
server/python/public
client/package-lock.json
server/package-lock.json
*.log
*.gz
*.pyc
credentials/*
credentials/ascee-recruit-f7087935ad03.json
server/python/__pycache__/*
server/python/tests/config.py
server/esi_app.pkl
server/tests/config.py
server/tests/cassettes/*.yaml
server/tests/e2e_data.py
server/tests/cassettes/*.swp
server/tests/cassettes/*.json
*.DS_Store

.env
server/tests/data.sqlite
