<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/login">
  <img 
    src="https://web.ccpgamescdn.com/eveonlineassets/developers/eve-sso-login-white-small.png" 
    alt="Log in"/>
</a>
<p>Session</p>
{{#each session}}
<p> {{@key}} : {{this}}</p>
{{/each}}