<h1>Scopes</h1>
<p>Next we will request permission from you for access to certain data on your account.</p>
<p>This data will be used by the recruiter to perform a security check - Eve is a game of spies after all</p>
<p>If you look closely, you'll see that we only ask permission to read the dat - we won't be allowed to write anything</p>
<a href='/login/alt'><button>Next</button></a>