interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://esi.evetech.net/latest/universe/types/8419/?datasource=tranquility&language=en-us
  response:
    body: {string: '{"capacity":0.0,"description":"Increases the maximum strength
        of the shield.","dogma_attributes":[{"attribute_id":161,"value":20.0},{"attribute_id":162,"value":0.0},{"attribute_id":4,"value":0.0},{"attribute_id":422,"value":1.0},{"attribute_id":38,"value":0.0},{"attribute_id":72,"value":2200.0},{"attribute_id":9,"value":40.0},{"attribute_id":50,"value":40.0},{"attribute_id":277,"value":1.0},{"attribute_id":182,"value":3425.0},{"attribute_id":983,"value":15.0},{"attribute_id":633,"value":1.0},{"attribute_id":30,"value":150.0}],"dogma_effects":[{"effect_id":13,"is_default":false},{"effect_id":16,"is_default":false},{"effect_id":21,"is_default":false},{"effect_id":2029,"is_default":false}],"group_id":38,"icon_id":1044,"market_group_id":608,"mass":0.0,"name":"Large
        Azeotropic Restrained Shield Extender","packaged_volume":20.0,"portion_size":1,"published":true,"radius":1.0,"type_id":8419,"volume":20.0}'}
    headers:
      Allow: ['GET,HEAD,OPTIONS']
      Content-Language: [en-us]
      Content-Type: [application/json; charset=UTF-8]
      Etag: [W/"7c3e352530bd9a3e07ffaa978ad52dbb4609fa58f483a7eedea7a287"]
      Last-Modified: ['Wed, 20 Feb 2019 11:03:18 GMT']
      X-Esi-Error-Limit-Remain: ['100']
      X-Esi-Error-Limit-Reset: ['37']
      X-Esi-Request-Id: [45708639-cf2d-4887-978b-537ad79e002f]
    status: {code: 200, message: OK}
version: 1
