interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://esi.evetech.net/latest/characters/2114496483/?datasource=tranquility
  response:
    body: {string: '{"ancestry_id":7,"birthday":"2018-09-07T22:28:20Z","bloodline_id":2,"corporation_id":98589569,"description":"","gender":"female","name":"Twine
        Enaka","race_id":1,"security_status":0.12144477092208232}'}
    headers:
      Allow: ['GET,HEAD,OPTIONS']
      Content-Type: [application/json; charset=UTF-8]
      Etag: ['"b1845d4d54bc90a1ddbd6a6544dd375be6373faf1dde1b7341dd7e43"']
      Last-Modified: ['Wed, 20 Feb 2019 03:30:59 GMT']
      X-Esi-Error-Limit-Remain: ['100']
      X-Esi-Error-Limit-Reset: ['2']
      X-Esi-Request-Id: [842ac87e-eb98-43f3-a869-7bd388ce8af5]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://esi.evetech.net/latest/characters/2112166943/?datasource=tranquility
  response:
    body: {string: '{"ancestry_id":41,"birthday":"2017-01-01T22:22:18Z","bloodline_id":14,"corporation_id":1000172,"description":"","gender":"male","name":"Takeschi
        Kovacs","race_id":2,"security_status":0.00035000000000000005}'}
    headers:
      Allow: ['GET,HEAD,OPTIONS']
      Content-Type: [application/json; charset=UTF-8]
      Etag: ['"1379a9270d8e68b4d6e7ec5fd289de3503f97196cdf3884bc51333f7"']
      Last-Modified: ['Wed, 20 Feb 2019 03:27:59 GMT']
      X-Esi-Error-Limit-Remain: ['100']
      X-Esi-Error-Limit-Reset: ['2']
      X-Esi-Request-Id: [ad834a19-86aa-41e5-9bb0-b313336ae706]
    status: {code: 200, message: OK}
version: 1
